<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-title style="color:white"> Reciclatge </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h4>Segona pregunta</h4>
  <h5>A quin contenidor aboquem els envasos?</h5>
  <button class="resposta2" id="incorrecte021" (click)="this.changeColor2(1)" style="width: 80%; color: #376f6f"> Marró </button>
  <button class="resposta2" id="correcte2" (click)="this.changeColor2(4)" style="width: 80%; color: #376f6f"> Groc </button>
  <button class="resposta2" id="incorrecte023" (click)="this.changeColor2(3)" style="width: 80%; color: #376f6f"> Blau </button>
  <button class="resposta2" id="incorrecte022" (click)="this.changeColor2(2)" style="width: 80%; color: #376f6f"> Verd </button>

  <div class = "next">
    <ion-label class="next_question" id="seguent_correcte2">
      <p style="color:green !important;">Correcte!</p>
      <br>
      <ion-button [routerLink]="['/test03']" style="width: 90%; --background: #454e55; color: white">

        <p>Següent pregunta</p>

      </ion-button>

    </ion-label>
    <ion-label class="next_question" id="seguent_incorrecte2">
      <p style="color:red !important;">Incorrecte!</p>
      <br>
      <ion-button [routerLink]="['/test03']" style="width: 90%; --background: #454e55; color: white">

        <p>Següent pregunta</p>

      </ion-button>

    </ion-label>
  </div>

</ion-content>

