
button{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  color: white;
  background: #376f6f;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
}


.input{
  width: 80%;
  margin-left: 5%;
  border-radius: 15px;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  width: 85%;
  margin: 10px 0 10px 5%;
}

/* Darker chat container */
.darker {
  margin-left: 10%;
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

ion-input{
  margin-top: 20px;
  background: white;
  height: 50px;
  border-radius: 15px;
  border: solid 1px blue;
}

ion-icon{
  display: block;
  position: absolute;
  top: 507px;
  margin-left: 325px;
  font-size: 33px;
  color: blue;
}
