<ion-header>
  <ion-toolbar>
    <ion-title>
      Xat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <img src="../../assets/imgs/avatar01.png" alt="Avatar">
        <p>Hola. Em podeu ajudar?</p>
        <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
        <img src="../../assets/imgs/avatar02.png" alt="Avatar" class="right">
        <p>Hola, i tant! Què necessites?</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="container">
        <img src="../../assets/imgs/avatar01.png" alt="Avatar">
        <p> En quin contenidor puc tirar les piles?</p>
        <span class="time-right">11:02</span>
    </div>

    <div class="container darker">
        <img src="../../assets/imgs/avatar02.png" alt="Avatar" class="right">
        <p>Les piles convencionals s’han de llençar als contenidors específics per a la seva recollida </p>
        <span class="time-left">11:05</span>
    </div>
    <div class="input">
        <ion-input> </ion-input>
    </div>
    <ion-icon name="send"></ion-icon>

   <!-- <button>
      Preguntes freqüents
    </button>
    <button >
      Notificar incidència
    </button>
    <button [routerLink]="['/chat']">
      Obrir xat
    </button> -->
</ion-content>
