<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
            <ion-title> Classificació de residus </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/imgs/recycle-circle.png" style="float: left; margin: 25px; max-width: 15%;">
  <h3 align="left" style="color: #454e55; font-weight: bold; margin-top: 20px;">Classificació de residus</h3>
  <h4 style="color: green;"> 10 punts ECO </h4>
  <p style="font-size: 18px; padding: 5%;"> La gestió responsable dels residus i la seva classificació permet reciclar fins a un 75% més dels residus i mantenir un entorn més sostenible mentre reduïm el nostre impacte sobre el medi ambient.
      En aquest test posarem a prova els coneixements sobre classificació de residus i veurem com gestionar-los correctament de cara a millorar la nostra petjada ecològica.</p>

  <div class="container" style="text-align: center;">
	  <!-- <ion-button style="width: 90%; --background: #376f6f; color: white">
	  	<p>Informa't!</p>
  	    </ion-button><br> -->
	  <ion-button style="width: 90%; --background: #376f6f; color: white" [routerLink]="['/tests']">
	  	<p> Començar! </p>
	  </ion-button>
 </div>

</ion-content>