<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-title style="color:white"> Reciclatge </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h4>Primera pregunta</h4>
  <h5>A quin contenidor aboquem les ampolles de vidre?</h5>
  <button class="resposta" id="incorrecte01" (click)="this.changeColor(1)" style="width: 80%; color: #376f6f"> Marró </button>
  <button class="resposta" id="incorrecte02" (click)="this.changeColor(2)" style="width: 80%; color: #376f6f"> Groc </button>
  <button class="resposta" id="incorrecte03" (click)="this.changeColor(3)" style="width: 80%; color: #376f6f"> Blau </button>
  <button class="resposta" id="correcte" (click)="this.changeColor(4)" style="width: 80%; color: #376f6f"> Verd </button>

  <div class = "next">
    <ion-label class="next_question" id="seguent_correcte">
      <p style="color:green !important;">Correcte!</p>
      <br>
    <ion-button [routerLink]="['/test02']" style="width: 90%; --background: #454e55; color: white">
      
      <p>Següent pregunta</p>

    </ion-button>

    </ion-label>
    <ion-label class="next_question" id="seguent_incorrecte">
      <p style="color:red !important;">Incorrecte!</p>
      <br>
       <ion-button [routerLink]="['/test02']" style="width: 90%; --background: #454e55; color: white">
         <p>Següent pregunta</p>
       </ion-button>

    </ion-label>
  </div>

</ion-content>

