<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
            <ion-title> Xat </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <img src="../assets/imgs/recicla-corp.jpeg" />
        <ion-card-header>
            <ion-card-subtitle style="color:white;">Com reciclar correctament</ion-card-subtitle>
            <ion-card-title style="color:white;">Reciclatge</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Descobreix com recliclar correctament i millorar els teus hàbits per aconseguir la màxima puntuació!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../assets/imgs/token.jpg" />
        <ion-card-header>
            <ion-card-subtitle style="color:white;">Sistema de punts ECO</ion-card-subtitle>
            <ion-card-title style="color:white;">Punts ECO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Descobreix com funciona el sistema de punts ECO, com aconseguir-ne més i com utilitzar-los per aconseguir descomptes
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../assets/imgs/agencia-residus.jpg" />
        <ion-card-header>
            <ion-card-subtitle style="color:white;">Com procesem el nostres residus</ion-card-subtitle>
            <ion-card-title style="color:white;">Agencia de Residus i Reciclatge</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            L'Agència Catalana de Residus i Reciclatge juga un paper molt important en el bon funcionament de la societat. Descobreix com funciona i com pots colabrar al bon funcionament
        </ion-card-content>
    </ion-card>


</ion-content>


