<ion-header>
  <ion-toolbar>
    <ion-title>
      Recompenses
    </ion-title>
      <ion-text slot="end">Nivell {{es.ecos}}</ion-text>
      <ion-icon style="margin-left: 10px;" slot="end" src="assets/recycle-solid.svg"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div  class="head">
        <p> Com més alt sigui el teu nivel ECO, millors seran les recompenses</p>
    </div>
    <ion-card>
        <ion-list>
            <ion-list-header> Descomptes al transport públic: </ion-list-header>
            <ion-item (click)="showAlert('Utilitza el codi GHJKWM72D al web de bicing.cat')">
                <ion-icon name="bicycle"></ion-icon>
                <ion-label> Bicing </ion-label>
                <ion-text class="achieved"> Nivell 50 </ion-text>
            </ion-item>
            <ion-item>
                <ion-icon name="bus"></ion-icon>
                <ion-label> Rodalies </ion-label>
                <ion-text> Nivell 100 </ion-text>
            </ion-item>
            <ion-item>
                <ion-icon name="train"></ion-icon>
                <ion-label> Renfe Plata </ion-label>
                <ion-text>  Nivell 150 </ion-text>
            </ion-item>
            <ion-item>
                <ion-icon name="bus"></ion-icon>
                <ion-label> T-mes </ion-label>
                <ion-text>  Nivell 200 </ion-text>
            </ion-item>


        </ion-list>
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-list-header> Descomptes en activitats culturals: </ion-list-header>
            <ion-item (click)="showAlert('Utilitza el codi SCYENC7 al web de mnac.cat')">
                <ion-icon name="home"></ion-icon>
                <ion-label> Visita MNAC </ion-label>
                <ion-text class="achieved"> Nivell 35 </ion-text>
            </ion-item>
            <ion-item (click)="showAlert('Utilitza el codi 12SJCFG al web de sopars-de-carrer.cat')">
                <ion-icon name="pizza"></ion-icon>
                <ion-label> Sopar popular </ion-label>
                <ion-text class="achieved"> Nivell 45 </ion-text>
            </ion-item>
            <ion-item>
                <ion-icon name="school"></ion-icon>
                <ion-label> Cosmocaixa </ion-label>
                <ion-text class="achieved">  Nivell 70 </ion-text>
            </ion-item>
            <ion-item>
                <ion-icon name="home"></ion-icon>
                <ion-label> Sagrada Familia </ion-label>
                <ion-text>  Nivell 130 </ion-text>
            </ion-item>


        </ion-list>
    </ion-card>
</ion-content>
