ion-card{
	margin-left: 5%;
	width: 90%;
	display: block;
}

ion-icon{
	color: #DFA43E;
	margin-right: 15px;
}

ion-text{
	color: #DFA43E;
}

.achieved{
	color: #376f6f;
}

.head{
	color: black;
	margin-left: 5%;
	width: 90%;
}
