<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-title style="color:white"> Reciclatge </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h4>Tercera pregunta</h4>
  <h5>A quin contenidor aboquem l'orgànic?</h5>
  <button class="resposta3" id="correcte3" (click)="this.changeColor3(4)" style="width: 80%; color: #376f6f"> Marró </button>
  <button class="resposta3" id="incorrecte032" (click)="this.changeColor3(2)" style="width: 80%; color: #376f6f"> Groc </button>
  <button class="resposta3" id="incorrecte033" (click)="this.changeColor3(3)" style="width: 80%; color: #376f6f"> Blau </button>
  <button class="resposta3" id="incorrecte031" (click)="this.changeColor3(1)" style="width: 80%; color: #376f6f"> Verd </button>

  <div class = "next">
    <ion-label class="next_question" id="seguent_correcte3">
      <p style="color:green !important;">Correcte! Has aconseguit 2/3 punts possibles</p>
      <br>
      <ion-button [routerLink]="['/tabs/tab1']" style="width: 90%; --background: #454e55; color: white">

        <p>Sortir</p>

      </ion-button>

    </ion-label>
    <ion-label class="next_question" id="seguent_incorrecte3">
      <p style="color:red !important;">Incorrecte!</p>
      <br>
      <ion-button [routerLink]="['/tabs/tab1']" style="width: 90%; --background: #454e55; color: white">

        <p>Sortir</p>

      </ion-button>

    </ion-label>
  </div>

</ion-content>

