.resposta3{
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 10px;
  border-radius: 10px;
  background: #D8E6de;
}

h5, h4 {
  width: 90%;
  margin-left: 10%;
}
h4 {
  font-weight: bolder;
}

.next_question{
  display: none;
  text-align: center;
}

.next{
  margin-top: 40px;
}

button{
  width: 50%;
  background: white;
  font-size: 14px;
}

