<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Aprèn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pie"></ion-icon>
      <ion-label>Inici</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Recompenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">

      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Xat</ion-label>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab>
  <ion-fab-button (click)="showBarcode()"><ion-icon name="trash"></ion-icon></ion-fab-button>
</ion-fab>
