<ion-header>
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-text slot="end">Nivell {{ es.ecos }}</ion-text>
    <ion-icon style="margin-left: 10px;" slot="end" src="assets/recycle-solid.svg"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <ion-card>
        <ion-list *ngFor="let deposit of deposits">
          <ion-list-header>{{ deposit.containerType }}</ion-list-header>
          <ion-item>
            <ion-icon *ngIf="deposit.containerType == 'organic'" src="assets/apple-beaten.svg"></ion-icon>
            <ion-icon *ngIf="deposit.containerType == 'plastic'" src="assets/plastic-bottle.svg"></ion-icon>
            <ion-icon *ngIf="deposit.containerType == 'vidre'" src="assets/wine-bottle-solid.svg"></ion-icon>
            <ion-icon *ngIf="deposit.containerType == 'paper'" name="copy"></ion-icon>
            <ion-icon *ngIf="deposit.containerType == 'rebuig'" src="assets/dumpster-solid.svg"></ion-icon>
            <ion-label>{{ deposit.timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</ion-label>
            <ion-text *ngIf="deposit.operationEcos > 0">{{ '+' + deposit.operationEcos }}</ion-text>
            <ion-text *ngIf="deposit.operationEcos <= 0" style="color: red !important;">{{ deposit.operationEcos }}</ion-text>
            <ion-icon style="color:#DFA43E; margin-left: 5px; font-size:16px;" slot="end" src="assets/recycle-solid.svg"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
</ion-content>
