<ion-header>
  <ion-toolbar>
    <ion-title>
      Aprèn
    </ion-title>
      <ion-text slot="end">Nivell {{es.ecos}}</ion-text>
      <ion-icon style="margin-left: 10px;" slot="end" src="assets/recycle-solid.svg"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/imgs/check.png" style="float: left; margin: 15px; max-width: 18%;">
  <h4 align="left" style="color: #454e55; font-weight: bold;">Informa't i respon els qüestionaris per pujar de nivell ECO</h4>

<ion-card class="test01" [routerLink]="['/info-questions']">
    <ion-card-header style="background-color: #376f6f;">
      <ion-card-subtitle style="color:white;">Recollida selectiva</ion-card-subtitle>
      <ion-card-title style="color:white;">Classificació de residus</ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="background-color: #376f6f;">
      <ion-label> Preguntes encertades: 3 / 3 </ion-label>
      <ion-button [routerLink]="['/info-questions']" style="float: right; margin: -10px; background-color: #376f6f;">
      <ion-icon name="arrow-dropright"></ion-icon> </ion-button>
    </ion-card-content>
</ion-card>

<ion-card class="test02" [routerLink]="['/info-questions']">
    <ion-card-header style="background-color: #376f6f;">
      <ion-card-subtitle style="color:white;"> Aprèn a reduïr la quantitat de residus que generes </ion-card-subtitle>
      <ion-card-title style="color:white;"> Reduïr residus </ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="background-color: #376f6f;">
      <ion-label>  Preguntes encertades: 6 / 10 </ion-label>
      <ion-button [routerLink]="['/info-questinos']" style="float: right; margin: -10px; background-color: #376f6f;">
      <ion-icon name="arrow-dropright"></ion-icon> </ion-button>
    </ion-card-content>

</ion-card>

</ion-content>
