.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.test01{
  background-color: beige;
}

.test02{
  background-color: beige;
}

h5 {
  width: 90%;
  margin-left: 10%;
}

ion-card{
	color: white;
	background-color: #376f6f;
}

ion-button {
	--background: transparent;
}

ion-icon{
  color: #DFA43E;
  margin-right: 15px;
}

ion-text{
  color: #DFA43E;
}
