<ion-header>
  <ion-toolbar>
    <ion-title>
      Posició Global
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2 align="center" style="margin-bottom:0px;">Nivell ECO</h2>
    <h2 align="center" style="color:#DFA43E; margin-top:0px;">{{ es.ecos }}<ion-icon style="margin-left: 4px; font-size:16px;" slot="end" src="assets/recycle-solid.svg"></ion-icon></h2>
  <ion-card>
    <ion-card-content>
      <div id="highcharts" style="width:100%; height:200px;"></div>
        <p align="center" style="margin-bottom: 10px;">Per tal de pujar de nivell intenta, generar menys residus de les fraccions que tinguis un nivell més baix</p>
      <div id="progress1" style="width:100%; height:130px;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
