/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-toolbar{
	color: white;
	--background: #454e55;
}

ion-content{
--background: rgba(249, 251, 250);
}

ion-tab-button{
	--color: #454e55;
	--color-selected: #376f6f;
	--background-color: white;
 	--background-focused: blue;
}

ion-fab-button{
	--background: #DFA43E;
	--background-activated: rgba(223, 164, 62, 0.59);
	--background-focused: rgba(223, 164, 62, 0.31);
}

ion-icon {
	&[class*="custom-"] {
		mask-size: contain;
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		background: currentColor;
		width: 1em;
		height: 1em;
	}

	&[class*="custom-vidre"] {
		mask-image: url(/assets/wine-bottle-solid.svg);
	}
}
